.intro__list {
  max-width: 100%;

  margin-top: 33px;
  margin-left: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  padding-left: 0;
  color: #ffffff;
  margin-bottom: 0;
}

.intro__list-digits {
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 320px) {
  .intro__list {
    margin-top: 34px;
  }
}
