.lead {
  max-width: 984px;
  width: calc(100% - 148px * 2);
  border-radius: 0px;
  margin: 56px auto;
}

@media (max-width: 1024px) {
  .lead {
    margin: 48px auto;
    max-width: 928px;
    width: calc(100% - 48px * 2);
  }
}
