.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px * 2);
  }
}
