.lead__title {
  max-height: 200px;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  align-self: auto;
  text-align: center;
  margin: auto;
  font-family: "Inter";
  color: #ffffff;
  margin-bottom: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
