.lead__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  align-self: auto;
  text-align: center;
  margin: auto;
  color: #ffffff;
  margin-bottom: 32px;
}

@media screen and (max-width: 750px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
@media screen and (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;
  }
}
