.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-top: 0;
}

@media (max-width: 320px) {
  .footer__links {
    flex-direction: column;

    max-width: 186px;
    min-height: calc(310px - 48px - 14px);
    justify-content: space-between;

    margin-bottom: 0;
  }
}
