.lead__image {
  max-width: 100%;
  display: block;
  margin: 64px auto 0;
  border-radius: 0;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .lead__image {
    margin: 56px auto 0;
  }
}

@media (max-width: 320px) {
  .lead__image {
    margin: 40px auto 0;
  }
}
