.footer__list {
  margin-right: 18px;
}

.footer__list:last-child {
  margin-right: 0;
}

@media (max-width: 500px) {
  .footer__list {
    margin-bottom: 32px;
  }
}

@media (max-width: 500px) {
  .footer__list:last-child {
    margin-bottom: 0;
  }
}
